apiVersion: v1
kind: Service
metadata:
  name: bottom-line-service
  namespace: dev
spec:
  selector:
    app: bottom-line
  ports:
    - protocol: TCP
      port: 8080
      targetPort: 8080
  type: NodePort
